/*font for page*/
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
    background-color: #B60808;
}


@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }